
/************************************************************
* FORMAT CODE NG BODY TAG
************************************************************/
body {
        background-color: #000000;
        background-image: url("../image/IMG_20210213_075309.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        margin: 0;
        padding: 0;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        
    }


/************************************************************
* FORMAT CODE NG WHITE NA BOX
************************************************************/

div {
        width: 600px;
        margin: 5em auto;
        padding: 2em;
        background-color: rgba(255,255,255, 0.7);
        border-radius: 0.5em;
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    }
/************************************************************
* FORMAT CODE NG LINK
************************************************************/

a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}

/************************************************************
* FORMAT CODE NG MOBILE VIEW
************************************************************/
    @media (max-width: 700px) {
        div {
            margin: 0 auto;
            width: auto;
        }
    }